@model ErrorViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-borderless" style="background-color: ghostwhite;">
                <tr class="border-bottom">
                    <th>To Do(3)</th>
                </tr>
                <tr class="border-bottom">
                    <td><span class="glyphicon glyphicon-plus bg-danger"></span><button class="btn btn-info" data-toggle="modal" data-target="#myModal">Add task</button></td>
                </tr>
                <tr class="border-bottom">
                    <td><input type="checkbox" value="">&nbsp;@Model.ShowRequestId</></td>
                </tr>
                <tr class="border-bottom">
                    <td><input type="checkbox" value="">&nbsp;new</></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table class="table table-borderless" style="background-color: ghostwhite;">
                <tr class="border-bottom">
                    <th>In Progress(0)</th>
                </tr>
                <tr class="border-bottom">
                    <th><p></p></th>
                </tr>
                <tr class="border-bottom">
                    <td><input type="checkbox" value="">&nbsp;new</></td>
                </tr>
                <tr class="border-bottom">
                    <td><input type="checkbox" value="">&nbsp;new</></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table class="table table-borderless" style="background-color: ghostwhite;">
                <tr class="border-bottom">
                    <th>Completed(3)</th>
                </tr>
                <tr class="border-bottom">
                    <th><p></p></th>
                </tr>
                <tr class="border-bottom">
                    <td><input type="checkbox" value="">&nbsp;new</></td>
                </tr>
                <tr class="border-bottom">
                    <td><input type="checkbox" value="">&nbsp;new</></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div>
                <h3 class="text-center">Add Note</h3>
                </div>
            <div class="modal-body">
                <input type="text"></input>
                <p class="text-center">
                <button type="submit" class="btn btn-success">Submit</button>
                    </p>
            </div>
        </div>

    </div>
</div>
