Flask
Flask-Cors
pandas
numpy
scikit-learn
joblib
nltk
spacy
PyPDF2
tensorflow
Jinja2
Werkzeug
beautifulsoup4
html5lib
pyquery
requests-toolbelt
click
colorama
frozenlist
psutil
tqdm
protobuf
PyYAML
pycparser
pyarrow
termcolor
scipy
zipfile36
gensim

