/Muskan/MIcroservices2/Common/bin
/Muskan/MIcroservices2/Common/.vs/Common
/Muskan/MIcroservices2/Common/.vs
/Muskan/MIcroservices2/Common/obj
/Muskan/MIcroservices2/Common/src/Logging/Logging.API/bin
/Muskan/MIcroservices2/Common/src/Logging/Logging.API/obj
/Muskan/MIcroservices2/Common/src/Security/Security/bin
/Muskan/MIcroservices2/Common/src/Security/Security/obj
/Muskan/MIcroservices2/Common/src/BuildingBlock/BuildingBlock.Messaging/obj
Muskan/Microfrontend/auth/.env
/Muskan/MIcroservices2/Common/src/BuildingBlock/BuildingBlock/obj
/Muskan/Microservices_Microfrontend/Microservices/Common/.vs
