
*.vsidx
*.vsidx
*.vsidx
*.cache
Api/SmartdustApi/.vs/SmartdustApi/v17/.suo
Api/SmartdustApi/SmartdustApi/obj/Debug/net6.0/SmartdustApi.pdb
Api/SmartdustApi/SmartdustApi/obj/
*.cache
*.dll
*.pdb
*.cache
Api/SmartdustApi/SmartdustApi/obj/project.assets.json
*.pdb
*.dll
*.1
*.v2
Api/SmartdustApi/.vs/SmartdustApi/v17/.suo
*.txt
*.1
*.targets
Api/SmartdustApi/SmartdustApi/obj/SmartdustApi.csproj.nuget.dgspec.json
Api/SmartdustApi/SmartdustApi/obj/project.nuget.cache
Api/SmartdustApi/SmartdustApi/obj/project.assets.json
*.pdb
Api/SmartdustApi/SmartdustApi/obj/Debug/net6.0/SmartdustApi.pdb
