.login-page{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.login-container{
    text-align: center;
    width: 350px;
    height: 71vh;
    margin-top: 40px;
    border: 1px solid rgb(121, 121, 121);
    padding: 0px 20px;
}
.login-header{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.text-login{
    font-size: 23px;
    font-weight: 500;
    color: rgb(16, 128, 175);
}
.login-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-container form input{
    height: 4vh;
    border-radius: 5px;
    border: 1px solid rgb(102, 101, 101);
}

.submit-btn{
    background-color: rgb(61, 147, 85);
    color: white;
    width: 350px;
    height: 5vh;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
.submit-btn:hover{
    background-color: rgb(55, 169, 87);
    transition: 0.3s ease-in-out;
}
.sign-up{
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 10px;
}
.remeber-me-forgot-pass{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remeber-me-forgot-pass > div{
    display: flex;
    align-items: center;
}
.Or-div{
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
    align-items: center;
}
.Or-div div hr{
    width: 130px;
}
.social-media-login{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.social-media-login p{
    text-align: center;
    margin: 2px;
}
.social-media-login a{
    text-decoration: none;
    align-items: center;
    width: 150px;
    height: 4vh;
    margin: auto;
    border-radius: 5px;
    color: white;
}
.blue-login{
    background-color: #25a0d0;
}
.red-login{
    background-color: #de312e;
}
.why{
    color: rgb(26, 149, 26);
}
.ans{
    font-size: 11px;
}
.forgot-pass{
    font-size: 14px;
}

@media screen and (min-width:101px) and (max-width:600px){
    .login-container{
        width: 220px;
    }
    .submit-btn{
        width: 200px;
    }
}