.signup-page{
    display: flex;
    justify-content: center;
    height: 100vh;

}
.signup-container{
    text-align: center;
    width: 350px;
    border: 1px solid rgb(121, 121, 121);
    padding: 5px 20px;
    height: 75vh;
}
.text-signup{
    font-size: 25px;
    font-weight: 500;
    color: rgb(62, 61, 61);
}
.signup-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.submit-btn{
    background-color: rgb(63, 158, 61);
    color: white;
    width: 350px;
    height: 4vh;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
.submit-btn:hover{
    background-color: rgb(63, 158, 61);
    transition: 0.3s ease-in-out;
}
.login{
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
@media screen and (min-width:101px) and (max-width:600px){
    .signup-container{
        width: 220px;
    }
    .submit-btn{
        width: 200px;
    }
}