@model Tonote.Models.NoteModule

@{
    ViewData["Title"] = "Note";
}

<h1>Note</h1>

<h4>Add Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Note">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoteId" class="control-label"></label>
                <input asp-for="NoteId" class="form-control" />
                <span asp-validation-for="NoteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="bg-success">
                @ViewBag.Msg
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
